.body{

}

#button-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

#button1 {
    width: 100px;
    cursor: pointer;
    grid-column-start: 3;
}

.pushed {
    transform: scale(1.1,1.1);
    
}

#myImage {
    width: 300px;
    position: relative;
    cursor: pointer;
    transform: scale(1,1);
    /* display:block;
    grid-column-start: 3; */
    
}

#space-grid {
    /* display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%; */
}
